html {
  overflow-y: hidden;
}

body {
  background-color: black;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.menu__items-content {
  width: 220px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.menu__items {
  min-height: 130px;
  margin-top: 5px;
}

.menu__wrapper {
  padding-top: 50px;
  max-width: 220px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 15px;
  position: relative;
}

.menu__item {
  padding: 2px;
  width: 100%;
  text-align: center;
  background-color: #5dc6ff;
}

.menu__wrapper-btn {
  font-size: 25px;
  color: white;
}

.keyboard__item {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  min-width: 50px;
  min-height: 50px;
  background-color: #5dc6ff;
  font-size: 20px;
}

.keyboard__container {
  width: 590px;
  min-height: 230px;
  margin: 70px auto 0px;
}

.keyboard__items {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.button__general {
  background-color: #5dc6ff;
  color: black;
  padding: 20px;
  font-size: 30px;
  border-radius: 30px;
  border: 2px solid white;
}

.menu__container {
  display: flex;
  flex-direction: column;
}

.choose__level {
  font-size: 25px;
  background-color: orange;
}

.none {
  display: none;
}

.button__container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.input__text-wrapper{
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.input__text{
  border-radius: 4px;
  padding: 5px 5px;        /* внутренние отступы */
  border: 1px solid #ccc;
  font-size: 20px;
  background-color: #ccc;
}

.active{
  background-color: orange;
}

.current__round-wrapper{
  position: fixed;
  top: 10%;
  right: 10%;
  display: flex;
  gap: 8px;
}

.current__round-text{
  font-size: 20px;
  color: white;
}

.current__round-number{
  font-size: 20px;
  color: white;
}