html {
  /* overflow-y: hidden; */
}

body {
  background-color: black;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 50px 35px;
}

.menu__items-content {
  width: 220px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.menu__items {
  min-height: 130px;
  margin-top: 5px;
}

.menu__wrapper {
  /* padding-top: 50px; */
  max-width: 220px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 15px;
  position: relative;
  /* display: none; */
}

.menu__item {
  padding: 2px;
  width: 100%;
  text-align: center;
  background-color: #5dc6ff;
}

.menu__wrapper-btn {
  font-size: 25px;
  color: white;
}

.keyboard__item {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  min-width: 50px;
  min-height: 50px;
  background-color: #5dc6ff;
  font-size: 20px;
}

.keyboard__container {
  width: 590px;
  min-height: 230px;
  margin: 70px auto 0px;
}

.keyboard__items {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.button__general {
  background-color: #5dc6ff;
  color: black;
  padding: 20px;
  font-size: 30px;
  border-radius: 30px;
  border: 2px solid white;
}

.menu__container {
  display: flex;
  flex-direction: column;
}

.choose__level {
  font-size: 25px;
  background-color: orange;
}

.none {
  display: none;
}

.button__container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 25px;
}

.input__text-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.input__text {
  border-radius: 4px;
  padding: 5px 5px; /* внутренние отступы */
  border: 1px solid #ccc;
  font-size: 20px;
  background-color: #ccc;
}

.active {
  background-color: orange;
}

.current__round-wrapper {
  position: absolute;
  top: 3%;
  right: 25%;
  display: flex;
  gap: 8px;
}

.current__round-text {
  font-size: 20px;
  color: white;
}

.current__round-number {
  font-size: 20px;
  color: white;
}

/* затемнение и блокировка фона */
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* затемнение */
  z-index: 999; /* выше фона, ниже самого попапа */
}

/* сам попап */
.modal {
  position: fixed;
  top: -7%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: top 0.9s linear;
  background: white;
  padding: 25px;
  z-index: 1000; /* выше всего */
}

.title__error {
  color: red;
}

.modal__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.close__pop {
  position: absolute;
  top: -26px;
  right: -28px;
  font-size: 20px;
}

.title__win {
  color: green;
}

.subtitle__win-btn {
  font-size: 20px;
}

.title__win {
  font-size: 19px;
}

.changeTop {
  top: 50%;
}

.current__level-wrapper {
  position: absolute;
  top: 3%;
  left: 25%;
}

.changeMargin {
  margin-top: 10px;
}

@media (max-width: 700px) {
  .keyboard__items {
    max-width: 290px;
  }

  .keyboard__container {
    max-width: 290px;
  }

  .button__container {
    flex-direction: column;
    align-items: center;
  }

  .button__general {
    width: 300px;
  }
}

@media (max-width: 450px) {
  .button__general {
    font-size: 20px;
    padding: 10px;
  }

  .keyboard__container {
    margin: 50px auto 0;
  }

  .current__round-text {
    font-size: 15px;
  }

  .current__round-number {
    font-size: 15px;
  }

  .button__container {
    margin-top: 10px;
  }
}
